<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link rel="manifest" href="../public/manifest.json" />
    <!-- <link rel="icon" sizes="192x192" href="/path/to/icon.png" /> -->
    <!-- <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png" /> -->
    <!-- <link rel="mask-icon" href="/path/to/icon.svg" color="blue" /> -->

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
